[Desktop Entry]
Exec=/home/xavier/.config/old-autostart-scripts/ssh-add.sh
Icon=dialog-scripts
Name=ssh-add.sh
Path=
Type=Application
X-KDE-AutostartScript=true
